# Folders

src/examples/

src/GloVe/GloVe-master/

src/normalized_relative_compression/

docs/

.ipynb_checkpoints

__pycache__

others/

src/context2vec/



# Data folders

data/pdf_training



# File types

*.pdf
