# Folders
__pycache__
docs/


# src folders
src/context2vec/
src/GV/
src/examples/
src/normalized_relative_compression/


# Data folders
data/pdf_training/
data/txt_training/
data/txt_clustering/
data/task2_pdf/
data/task2_txt/


# Models
models/BERT/
models/ELMo/
models/context2vec/


# File types
*.pdf
